<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.admin.customer.model.dao.CustomerMapper">

    <!-- 공지사항 페이지 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO" id="generalNoticeResultMap" >
        <id property="noticeCode" column="notice_code"/>
        <result property="adminId" column="admin_id"/>
        <result property="noticeDate" column="notice_date"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeContent" column="notice_content"/>
    </resultMap>

    <select id="findNoticeList" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO">
        SELECT
            notice_code,
            notice_title,
            notice_date,
            admin_id
        FROM
            notice
        ORDER BY
            notice_code desc
    </select>

    <select id="searchNoticeDetail" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO">
        SELECT
            notice_code,
            admin_id,
            notice_date,
            notice_title,
            notice_content
        FROM
            notice
        WHERE
            notice_code = #{ noticeCode }
    </select>

    <insert id="insertNotice">
        INSERT
        INTO notice
            (notice_title, notice_content, notice_date, admin_id)
        VALUE
            (#{ noticeTitle }, #{ noticeContent }, NOW(), "admin01")
    </insert>

    <delete id="deleteNotice">
        DELETE FROM notice
        WHERE notice_code = #{ noticeCode }
    </delete>

    <update id="updateNotice">
        UPDATE notice
        SET notice_title = #{ noticeTitle },
            notice_content = #{ noticeContent }
        WHERE notice_code = #{ noticeCode }
    </update>



    <!-- 1대1 문의 페이지 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskDTO" id="generalAskResultMap">
        <id property="askCode" column="ask_code"/>
        <result property="askTitle" column="ask_title"/>
        <result property="askContent" column="ask_content"/>
        <result property="askDate" column="ask_date"/>
        <result property="userId" column="user_id"/>
        <result property="askDelete" column="ask_delete"/>
        <association property="askCategoryCode" resultMap="askCategoryResultMap"/>
        <association property="answerDTO" resultMap="answerResultMap"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskCategoryDTO" id="askCategoryResultMap">
        <id property="askCategoryCode" column="ask_category_code"/>
        <result property="askCategoryName" column="ask_category_name"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AnswerDTO" id="answerResultMap">
        <id property="answerCode" column="answer_code"/>
        <result property="answerStatus" column="answer_status"/>
    </resultMap>

<!--    <select id="findAskList" resultMap="generalAskResultMap">-->
<!--        SELECT-->
<!--            a.ask_code,-->
<!--            b.ask_category_name,-->
<!--            a.ask_title,-->
<!--            a.ask_date,-->
<!--            a.user_id,-->
<!--            a.ask_editDate,-->
<!--            a.ask_delete-->
<!--&lt;!&ndash;            c.answer_status&ndash;&gt;-->
<!--        FROM-->
<!--            ask a-->
<!--        JOIN-->
<!--            ask_category b ON (a.ask_category_code = b.ask_category_code)-->
<!--        JOIN-->
<!--            answer c ON (a.ask_code = c.ask_code)-->
<!--        WHERE-->
<!--            a.ask_delete = 0-->
<!--    </select>-->

    <select id="findAskList" resultMap="generalAskResultMap">
        SELECT
            *
        FROM
            ask a
        JOIN
            ask_category b ON (a.ask_category_code = b.ask_category_code)
        ORDER BY
            a.ask_code desc
    </select>

    <select id="searchAskDetail" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.AskDTO">
        SELECT
            ask_code,
            user_id,
            ask_date,
            ask_title,
            ask_content
        FROM
            ask
        WHERE
            ask_code = #{ askCode }
    </select>

    <select id="searchAnswerDetail" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.AnswerDTO">
        SELECT
            answer_code,
            admin_id,
            answer_date,
            answer_content
        FROM
            answer
        WHERE
            ask_code = #{ askCode }
    </select>

    <select id="findCategoryList" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.AskCategoryDTO">
        SELECT
            *
        FROM
            ask_category
    </select>

</mapper>