<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.admin.member.model.dao.MemberMapper">
    <resultMap id="member" type="com.ohgiraffers.dosirak.admin.member.model.dto.MemberDTO">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="birth" column="BIRTH"/>
        <result property="gender" column="GENDER"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="address1" column="ADDRESS1"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="address3" column="ADDRESS3"/>
        <result property="agree" column="AGREE"/>
        <result property="joindate" column="JOINDATE"/>
    </resultMap>
    <select id="findAllMember" resultMap="member">
        SELECT ID, NAME, BIRTH, GENDER, PHONE, EMAIL, AGREE, JOINDATE
        FROM USER WHERE WITHDRAWAL = FALSE;
    </select>
    <select id="selectMemberView" resultMap="member">
        SELECT ID, NAME, BIRTH, GENDER, PHONE, EMAIL, ADDRESS1, ADDRESS2, ADDRESS3, AGREE, JOINDATE
        FROM USER WHERE WITHDRAWAL = FALSE AND ID = #{id};
    </select>
    <update id="modifyMember">
        UPDATE USER
        SET PHONE = #{phone}, EMAIL = #{email}, AGREE = #{agree}, ADDRESS1 = #{address1}, ADDRESS2 = #{address2}, ADDRESS3 = #{address3}
        WHERE ID = #{id}
    </update>

    <resultMap id="manager" type="com.ohgiraffers.dosirak.admin.member.model.dto.ManagerDTO">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="birth" column="BIRTH"/>
        <result property="gender" column="GENDER"/>
        <result property="contact" column="CONTACT"/>
        <result property="email" column="EMAIL"/>
        <result property="position" column="POSITION"/>
        <result property="department" column="DEPARTMENT"/>
        <result property="authority" column="AUTHORITY"/>
        <result property="joindate" column="JOINDATE"/>
        <result property="withdrawal" column="WITHDRAWAL"/>
    </resultMap>
    <select id="findAllManager" resultMap="manager">
        SELECT ID, NAME, BIRTH, GENDER, CONTACT, EMAIL, POSITION, DEPARTMENT, JOINDATE
        FROM ADMIN WHERE WITHDRAWAL = FALSE;
    </select>
    <select id="selectManagerView" resultMap="manager">
        SELECT ID, NAME, BIRTH, GENDER, CONTACT, EMAIL, POSITION, DEPARTMENT, AUTHORITY, JOINDATE, WITHDRAWAL
        FROM ADMIN WHERE WITHDRAWAL = FALSE AND ID = #{id};
    </select>

</mapper>