<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <th:block th:replace="~{/admin/common/head.html}"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="~{/admin/common/header.html}"></th:block>
<!-- navbar -->
<div id="layoutSidenav">
    <th:block th:replace="~{/admin/common/sideNav.html}"></th:block>
    <!-- layoutSidenav_nav -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">상품</h1>
                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <div class="justify-content-between d-flex align-items-center">
                            <a class="btn btn-primary" href="">상품등록</a>
                            <div class="text-end">
                                <label>
                                    <select class="datatable-selector">
                                        <option>판매상태 조회</option>
                                        <option>판매준비중</option>
                                        <option>판매중</option>
                                        <option>절판</option>
                                        <option>판매중단</option>
                                    </select>
                                </label>
                                <label>
                                    <select class="datatable-selector">
                                        <option>상품분류 조회</option>
                                        <option>건강도시락</option>
                                        <option>정성도시락</option>
                                        <option>간편식</option>
                                    </select>
                                </label>
                                <form class="d-none d-md-inline-block form-inline ms-auto me-0 my-2 my-md-0">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>상품코드</th>
                                <th>상품이름</th>
                                <th>상품분류</th>
                                <th>상품가격</th>
                                <th>판매상태</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>상품코드</th>
                                <th>상품이름</th>
                                <th>상품분류</th>
                                <th>상품가격</th>
                                <th>판매상태</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>닭가슴살</td>
                                <td>건강도시락</td>
                                <td>10,000원</td>
                                <td>판매준비중</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="~{/admin/common/foot.html}"></th:block>
</body>
</html>
