<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
    <script>
        const message = '[[${message}]]';
        message && alert(message);
        $(function(){
            $("#datatablesSimple tbody tr").click(function(){
                let txtId = $("td:nth-of-type(1)", this).text();
                location.href = "/admin/member/managerView?id="+txtId;
            })
        })

        function searchMem(){
            let condition = document.querySelector(".searchCondition").value;
            let value = document.querySelector(".searchValue").value;

            if(value == null || value == ""){
                alert("검색어를 입력해주세요.");
                return;
            }else{
                $.ajax({
                    url: "/admin/member/managerList",
                    type: "post",
                    data: {
                        condition: condition,
                        value: value
                    },
                    success: function (data){
                        let tbody = document.querySelector("#datatablesSimple tbody");
                        tbody.innerHTML = '';

                        data.forEach(function (manager){
                            let tr = document.createElement("tr");
                            tr.innerHTML =  "<td>"+manager.id+"</td>"+
                                "<td>"+manager.name+"</td>"+
                                "<td>"+manager.birth+"</td>"+
                                "<td>"+manager.gender+"</td>"+
                                "<td>"+manager.contact+"</td>"+
                                "<td>"+manager.email+"</td>"+
                                "<td>"+manager.position+"</td>"+
                                "<td>"+manager.department+"</td>"+
                                "<td>"+manager.joindate+"</td>";
                            tbody.appendChild(tr)
                        })
                    },
                    error: function(){
                        alert("에러발생");
                    }
                })
            }
        }
    </script>
</head>
<body>
<body class="sb-nav-fixed">
<th:block th:replace="/admin/common/header.html"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="/admin/common/sideNav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">관리자 목록</h1>
                <div class="card mb-4 mt-4">
                    <div class="card-header justify-content-between d-flex align-items-center">
                        <i class="fas fa-table me-1"></i>
                        <div class="d-none d-md-inline-block form-inline ms-auto me-0 my-2 my-md-0">
                            <div class="input-group">
                                <select class="searchCondition datatable-selector" name="searchCondition">
                                    <option value="">검색조건 선택</option>
                                    <option value="id">아이디</option>
                                    <option value="name">이름</option>
                                    <option value="contact">내선번호</option>
                                    <option value="email">이메일</option>
                                    <option value="position">직급</option>
                                    <option value="department">부서</option>
                                </select>
                                <input class="searchValue form-control" type="text" name="memberSearchValue" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                <button type="button" class="btn btn-primary" onclick="searchMem()"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th>성별</th>
                                <th>내선번호</th>
                                <th>이메일</th>
                                <th>직급</th>
                                <th>부서</th>
                                <th>입사날짜</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th>성별</th>
                                <th>내선번호</th>
                                <th>이메일</th>
                                <th>직급</th>
                                <th>부서</th>
                                <th>입사날짜</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="manager : ${managerList}">
                                <td th:text="${manager.id}"></td>
                                <td th:text="${manager.name}"></td>
                                <td th:text="${manager.birth}"></td>
                                <td th:text="${manager.gender}"></td>
                                <td th:text="${manager.contact}"></td>
                                <td th:text="${manager.email}"></td>
                                <td th:text="${manager.position}"></td>
                                <td th:text="${manager.department}"></td>
                                <td th:text="${manager.joindate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="/admin/common/foot.html"></th:block>
</body>
</body>
</html>