<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $("#datatablesSimple tbody tr").click(function(){
                let txtId = $("td:nth-of-type(1)", this).text();
                location.href = "/admin/member/managerView?id="+txtId;
            })
        })
    </script>
</head>
<body>
<body class="sb-nav-fixed">
    <th:block th:replace="/admin/common/header.html"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="/admin/common/sideNav.html"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">관리자 목록</h1>
                    <div class="card mb-4 mt-4">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <i class="fas fa-table me-1"></i>
                            <form class="d-none d-md-inline-block form-inline ms-auto me-0 my-2 my-md-0">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>이름</th>
                                        <th>생년월일</th>
                                        <th>성별</th>
                                        <th>내선번호</th>
                                        <th>이메일</th>
                                        <th>직급</th>
                                        <th>부서</th>
                                        <th>입사날짜</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>아이디</th>
                                        <th>이름</th>
                                        <th>생년월일</th>
                                        <th>성별</th>
                                        <th>내선번호</th>
                                        <th>이메일</th>
                                        <th>직급</th>
                                        <th>부서</th>
                                        <th>입사날짜</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="manager : ${managerList}">
                                        <td th:text="${manager.id}"></td>
                                        <td th:text="${manager.name}"></td>
                                        <td th:text="${manager.birth}"></td>
                                        <td th:text="${manager.gender}"></td>
                                        <td th:text="${manager.contact}"></td>
                                        <td th:text="${manager.email}"></td>
                                        <td th:text="${manager.position}"></td>
                                        <td th:text="${manager.department}"></td>
                                        <td th:text="${manager.joindate}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="/admin/common/foot.html"></th:block>
</body>
</html>