<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
    <link href="/admin/css/datatable.css" rel="stylesheet">
    <script defer src="/admin/js/survey/surveyQuestionTable.js"></script>
</head>

<body class="sb-nav-fixed">
    <th:block th:replace="/admin/common/header.html"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="/admin/common/sideNav.html"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4" th:text="|version.${version?.versionId}|"></h1>
                    <table class="datatable-table mt-4">
                        <colgroup>
                            <col style="width:200px" />
                            <col />
                            <col style="width:200px" />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 10%">버전 별칭</th>
                                <td style="width: 15%"><input th:value="${version?.versionName}"></td>
                                <th scope="row" style="width: 10%">한줄 설명</th>
                                <td><input style="width: 70%" th:value="${version?.versionExplain}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color: #9F9F9F;margin-bottom: 16px">
                        <table class="datatable">
                            <th>
                                <tr>질문 번호</tr>
                                <tr>질문 내용</tr>
                            </th>
                        </table>
                    </div>
                    <table class="datatable">
                        <tr>
                            <th style="width: 10%;">점수 분류</th>
                            <th style="width: 18%;">매우 낮음</th>
                            <th style="width: 18%;">낮음</th>
                            <th style="width: 18%;">보통</th>
                            <th style="width: 18%;">높음</th>
                            <th style="width: 18%;">매우 높음</th>
                        </tr>
                        <tr>
                            <td>탄수화물</td>
                            <td>1 ~ <select>
                                    <option value="3">3</option>
                                </select></td>
                            <td>3 ~ <select>
                                    <option value="3">5</option>
                                </select></td>
                            <td>5 ~ <select>
                                    <option value="3">7</option>
                                </select></td>
                            <td>7 ~ <select>
                                    <option value="3">8</option>
                                </select></td>
                            <td>8 ~ 10</td>
                        </tr>
                        <tr>
                            <td>단백질</td>
                            <td>1 ~ <select>
                                    <option value="3">3</option>
                                </select></td>
                            <td>3 ~ <select>
                                    <option value="3">5</option>
                                </select></td>
                            <td>5 ~ <select>
                                    <option value="3">7</option>
                                </select></td>
                            <td>7 ~ <select>
                                    <option value="3">8</option>
                                </select></td>
                            <td>8 ~ 10</td>
                        </tr>
                        <tr>
                            <td>지방</td>
                            <td>1 ~ <select>
                                    <option value="3">3</option>
                                </select></td>
                            <td>3 ~ <select>
                                    <option value="3">5</option>
                                </select></td>
                            <td>5 ~ <select>
                                    <option value="3">7</option>
                                </select></td>
                            <td>7 ~ <select>
                                    <option value="3">8</option>
                                </select></td>
                            <td>8 ~ 10</td>
                        </tr>
                        <tr>
                            <td>운동</td>
                            <td style="text-align: center">1 ~ <select style="width: 50px;text-align: center">
                                    <option value="3">3</option>
                                </select></td>
                            <td>3 ~ <select>
                                    <option value="3">5</option>
                                </select></td>
                            <td>5 ~ <select>
                                    <option value="3">7</option>
                                </select></td>
                            <td>7 ~ <select>
                                    <option value="3">8</option>
                                </select></td>
                            <td>8 ~ 10</td>
                        </tr>
                    </table>
                    <div class="editBtn" style="text-align: right;">
                        <span>
                            <button type="submit" class="btn btn-primary">설문 수정</button>
                            <button type="button" class="btn btn-primary" formaction="/admin/suit-box/menu/view"
                                formmethod="get">설문 삭제</button>
                            <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='/admin/survey/version-list'">목록</button>
                        </span>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="/admin/common/foot.html"></th:block>
</body>

</html>