<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
    <link href="/admin/css/datatable.css" rel="stylesheet">
    <script defer src="/admin/js/survey/surveyQuestionTable.js"></script>
</head>

<body class="sb-nav-fixed">
    <th:block th:replace="/admin/common/header.html"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="/admin/common/sideNav.html"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4" th:text="|version.${version.versionId}|"></h1>
                    <table class="datatable-table mt-4">
                        <colgroup>
                            <col style="width:200px" />
                            <col />
                            <col style="width:200px" />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 10%">버전 별칭</th>
                                <td style="width: 15%"><input th:value="version.versionName"></td>
                                <th scope="row" style="width: 10%">한줄 설명</th>
                                <td th:text="${version.versionExplain}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="datatable">
                        <tr>
                            <th style="width: 10%;">점수 분류</th>
                            <th style="width: 18%;">매우 낮음</th>
                            <th style="width: 18%;">낮음</th>
                            <th style="width: 18%;">보통</th>
                            <th style="width: 18%;">높음</th>
                            <th style="width: 18%;">매우 높음</th>
                        </tr>
                        <tr th:each="range : ${rangeList}">
                            <td th:if="${range.category} == 'C'" th:text="탄수화물"></td>
                            <td th:if="${range.category} == 'P'" th:text="단백질"></td>
                            <td th:if="${range.category} == 'F'" th:text="지방"></td>
                            <td th:if="${range.category} == 'W'" th:text="운동점수"></td>
                            <td th:text="|1~${range.range1-1}|"></td>
                            <td th:text="|${range.range1}~${range.range2 - 2}|"></td>
                            <td th:text="|${range.range2}~${range.range3 - 3}|"></td>
                            <td th:text="|${range.range3}~${range.range4 - 4}|"></td>
                            <td th:text="|${range.range4}~${range.maxPoint}|"></td>
                        </tr>
                    </table>
                    <div class="editBtn" style="text-align: right;">
                            <span>
                                <button type="submit" class="btn btn-primary">설문 수정</button>
                                <button type="button" class="btn btn-primary" formaction="/admin/suit-box/menu/view"
                                        formmethod="get">설문 삭제</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/admin/survey/version-list'">목록</button>
                            </span>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="/admin/common/foot.html"></th:block>
</body>

</html>