<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="/admin/common/header.html"></th:block>
<!-- navbar -->
<div id="layoutSidenav">
    <th:block th:replace="/admin/common/sideNav.html"></th:block>
    <!-- layoutSidenav_nav -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">주문 상세보기</h1>
                <table class="datatable-table mt-4">
                    <colgroup>
                        <col style="width:200px"/>
                        <col style="width:*%"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">주문코드</th>
                        <td th:text="${ orderViewDTO.orderCode }"></td>

                        <th scope="row">주문상태</th>
                        <td th:text="${ orderViewDTO.orderStatus }"></td>
                    </tr>
                    <tr >
                        <th scope="row">환불상태</th>
                        <td th:text="${ orderViewDTO.refundStatus }"></td>

                        <th scope="row">배송상태</th>
                        <td th:text="${ orderViewDTO.deliveryStatus }"></td>
                    </tr>
                    <tr>
                        <th scope="row">회원이름(아이디)</th>
                        <td colspan="3" th:text="|${ orderViewDTO.userName }(${ orderViewDTO.userId })|"></td>
                    </tr>
                    <tr>
                        <th scope="row">수령인</th>
                        <td th:text="${ orderViewDTO.orderRecipient }"></td>
                        <th scope="row">연락처</th>
                        <td th:text="${ orderViewDTO.userPhone }"></td>
                    </tr>
                    <tr>
                        <th scope="row">배송지</th>
                        <td colspan="3" th:text="${ orderViewDTO.userAddress }"></td>
                    </tr>
                    <tr>
                        <th scope="row">결제금액</th>
                        <td th:text="${ orderViewDTO.payPrice }"></td>
                        <th scope="row">결제날짜</th>
                        <td th:text="${ orderViewDTO.payDate }"></td>
                    </tr>
                    <tr>
                        <th scope="row">결제방법</th>
                        <td colspan="3" th:text="${ orderViewDTO.payMethod }"></td>
                    </tr>
                    <tr>
                        <th scope="row">주문상세</th>
                        <td colspan="3">
                            <label>
                                <input type="checkbox">
                                <th:block th:text="${ orderViewDTO.productName + ' / ' + orderViewDTO.itemQuantity + '개' + ' / ' + (orderViewDTO.itemQuantity * orderViewDTO.productPrice + ' 원')}"></th:block>
                            </label>
                            <br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="editBtn" style="text-align: right;">
                    <button type="button" class="btn btn-secondary">주문취소</button>
                    <button type="button" class="btn btn-secondary">목록</button>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="admin/common/foot.html"></th:block>
</body>
</html>
