<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="/admin/common/header.html"></th:block>
<!-- navbar -->
<div id="layoutSidenav">
    <th:block th:replace="/admin/common/sideNav.html"></th:block>
    <!-- layoutSidenav_nav -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">주문 상세보기</h1>
                <table class="datatable-table mt-4">
                    <colgroup>
                        <col style="width:200px"/>
                        <col style="width:*%"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">주문코드</th>
                        <td th:text="${ orderView.orderCode }"></td>

                        <th scope="row">주문/환불상태</th>
                        <td th:text="${ orderView.refund?.refundStatus }"></td>
                    </tr>
                    <tr>
                        <th scope="row">회원이름(아이디)</th>
                        <td colspan="3" th:text="|${ orderView.member.name }(${ orderView.member.id })|"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">수령인</th>
                        <td>
                            <span th:if="${ orderView.orderRecipient }" th:text="${ orderView.orderRecipient }"></span>
                            <span th:unless="${ orderView.orderRecipient }" th:text="${orderView.member.name}"></span>
                        </td>
                        <th scope="row">연락처</th>
                        <td>
                            <span th:if="${ orderView.orderConcat }" th:text="${ orderView.orderConcat }"></span>
                            <span th:unless="${ orderView.orderConcat }" th:text="${ orderView.member.phone }"></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">배송지</th>
                        <td colspan="3">
                            <span th:if="${ orderView.orderRecipient }" th:text="${ orderView.orderRecipient }"></span>
                            <span th:unless="${ orderView.orderRecipient }"
                                  th:text="${orderView.member.address1 + ' / ' + orderView.member.address2 + ' / ' + orderView.member.address3 }"></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">결제금액</th>
                        <td th:text="${ '￦ ' + orderView.pay.payPrice }"></td>
                        <th scope="row">결제날짜</th>
<!--                        <td th:text="${ orderViewDTO.payDate }"></td>-->
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">결제방법</th>
<!--                        <td colspan="3" th:text="${ orderViewDTO.payMethod }"></td>-->
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">주문상세</th>
                        <td colspan="3">
                            <label>
                                <input type="checkbox">
<!--                                <th:block th:text="${ orderViewDTO.productName + ' / ' + orderViewDTO.itemQuantity + '개' + ' / ' + (orderViewDTO.itemQuantity * orderViewDTO.productPrice + ' 원')}"></th:block>-->
                            </label>
                            <br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="editBtn" style="text-align: right;">
                    <button type="button" class="btn btn-secondary">주문취소</button>
                    <button type="button" class="btn btn-secondary">목록</button>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="admin/common/foot.html"></th:block>
</body>
</html>
