<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.user.join.model.dao.JoinMapper">
    <resultMap id="login" type="com.ohgiraffers.dosirak.user.login.model.dto.LoginDTO">
        <id property="userId" column="ID"/>
        <result property="userName" column="NAME"/>
        <result property="userPwd" column="PWD"/>
        <result property="userRole" column="ROLE"/>
    </resultMap>
    <select id="findByUserid" resultMap="login">
        SELECT ID, NAME, PWD, ROLE FROM USER WHERE ID = #{userName}
        UNION
        SELECT ID, NAME, PWD, ROLE FROM ADMIN WHERE ID = #{userName};
    </select>
</mapper>