<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.user.login.model.dao.UserLoginMapper">
    <resultMap id="login" type="com.ohgiraffers.dosirak.user.login.model.dto.LoginDTO">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="pwd" column="PWD"/>
        <result property="role" column="ROLE"/>
    </resultMap>
    <select id="findById" resultMap="login">
        SELECT ID, NAME, PWD, ROLE FROM USER WHERE ID = #{id}
        UNION
        SELECT ID, NAME, PWD, ROLE FROM ADMIN WHERE ID = #{id};
    </select>
</mapper>