<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.user.customer.model.dao.UserCustomerMapper">

    <!-- 1대1 문의페이지  -->

    <insert id="insertAttachment">
        INSERT
        INTO customer_img
            (ref_ask_no, original_name, saved_name, save_path, file_type, thumbnail_path)
        VALUES
            (#{refAskNo}, #{ originalName }, #{ savedName }, #{ savePath }, #{ fileType }, #{ thumbnailPath, jdbcType=VARCHAR })
    </insert>

    <insert id="insertAsk">
        INSERT
        INTO ask
            (ask_title, ask_content, ask_date, user_id, ask_editDate, ask_delete, ask_category_code)
        VALUES
            (#{ askTitle }, #{ askContent }, #{ askDate }, "임시사용자", NOW(), '0', '1')
    </insert>

    <insert id="insertImage">
        INSERT
        INTO customer_img
            (ref_ask_code, original_name, saved_name, save_path)
        VALUES
            (#{ ref_ask_code }, #{ originalName }, #{ savedName }, #{ savePath })
    </insert>

</mapper>
